<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!--Real-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Token" value="117614070a7f500c5ed11b09e51af8f05d16615f" />
    <add key="IVAExcluido" value="IVA GE05" />
    <add key="IVAExcento" value="IVA GE07;Iva covi" />
    <add key="ImpuestoBolsa" value="51" />
    <add key="AllersSalesReport" value="AllersSalesReport_SP" />
    <add key="CompanyDBSAPSaluti" value="MAIHOEHE" />
    <add key="pwdSAPSaluti" value="Sapadmin57" />
    <add key="hostSAP" value="SAP10SERVER" />
    <add key="LicSAP" value="SAP10SERVER:30000" />
    <add key="CompanyDBSAP" value="SBO_Allers" />
    <add key="usrSAP" value="manager" />
    <add key="pwdSAP" value="Sapadmin56" />
    <add key="UseTrustedSAP" value="false" />
    <add key="DbUserNameSAP" value="sa" />
    <add key="DbPasswordSAP" value="Sapadmin." />
    <add key="BDSAP10SERVER" value="2017" />
    <add key="HoraCali" value="11:00" />
    <add key="HoraOtros" value="15:00" />
    <add key="MailsMedishop" value="spuentes@allers.com.co" />
    <add key="MailsSaluti" value="ezuluaga@saluti.com.co" />
    <add key="CorreoCartera" value="lalarcon@allers.com.co" />
    <add key="oCompanySaluti" value="oCompanySalutiCom" />
    <add key="oCompanyAllers" value="oCompanyAllersCom" />
    <!--Pruebas
    <add key="AllersSalesReport" value="AllersSalesReport_SP_Pruebas" />
    <add key="CompanyDBSAPSaluti" value="PRUEBAS_MAIHOEHE" />
    <add key="pwdSAPSaluti" value="Sapadmin57" />
    <add key="hostSAP" value="SAP10SERVER" />
    <add key="LicSAP" value="SAP10SERVER:30000" />
    <add key="CompanyDBSAP" value="XTest" />
    <add key="usrSAP" value="manager" />
    <add key="pwdSAP" value="Sapadmin56" />
    <add key="UseTrustedSAP" value="false" />
    <add key="DbUserNameSAP" value="sa" />
    <add key="DbPasswordSAP" value="Sapadmin." />
    <add key="BDSAP10SERVER" value="2017" />
    <add key="HoraCali" value="11:00" />
    <add key="HoraOtros" value="15:00" />
    <add key="MailsMedishop" value="oramirez@aventi.co" />
    <add key="MailsSaluti" value="oramirez@aventi.co" />
    <add key="CorreoCartera" value="oramirez@aventi.co" />
    <add key="oCompanySaluti" value="oCompanySalutiCom" />
    <add key="oCompanyAllers" value="oCompanyAllersCom" />-->
  </appSettings>
  <connectionStrings>
    <!--Pruebas
    <add name="CadenaConexion" connectionString="Data Source=192.168.1.112;Initial Catalog=WSMagento;User ID=sa;Password=Sapadmin.; Timeout=10000" providerName="System.Data.SqlClient"/>
    <add name="CadenaConexionSP" connectionString="Data Source=192.168.1.112;Initial Catalog=AllersSalesReport_SP;User ID=sa;Password=Sapadmin.; Timeout=10000" providerName="System.Data.SqlClient" />
    <add name="CadenaConexionSBO_Allers" connectionString="Data Source=192.168.1.112;Initial Catalog=XTest;User ID=sa;Password=Sapadmin.; Timeout=10000" providerName="System.Data.SqlClient"/>
    <add name="CadenaConexionPos" connectionString="Data Source=192.168.3.124;Initial Catalog=PositivePruebas;User ID=sa;Password=posadmin.,; Timeout=10000" providerName="System.Data.SqlClient"/>
    <add name="CadenaConexionSaluti" connectionString="Data Source=SAP10SERVER;Initial Catalog=PRUEBAS_MAIHOEHE;User ID=sa;Password=Sapadmin.; Timeout=1000000" providerName="System.Data.SqlClient" />-->
    <!--ServidorNuevo-->
    <add name="CadenaConexion" connectionString="Data Source=SAP10SERVER;Initial Catalog=WSMagento;User ID=sa;Password=Sapadmin.; Timeout=1000000" providerName="System.Data.SqlClient" />
    <add name="CadenaConexionSP" connectionString="Data Source=SAP10SERVER;Initial Catalog=AllersSalesReport_SP;User ID=sa;Password=Sapadmin.; Timeout=1000000" providerName="System.Data.SqlClient" />
    <add name="CadenaConexionSBO_Allers" connectionString="Data Source=SAP10SERVER;Initial Catalog=SBO_Allers;User ID=sa;Password=Sapadmin.; Timeout=1000000" providerName="System.Data.SqlClient" />
    <add name="CadenaConexionPos" connectionString="Data Source=192.168.3.124;Initial Catalog=PositiveProduccion;User ID=sa;Password=posadmin.,; Timeout=1000000" providerName="System.Data.SqlClient" />
    <add name="CadenaConexionSaluti" connectionString="Data Source=SAP10SERVER;Initial Catalog=MAIHOEHE;User ID=sa;Password=Sapadmin.; Timeout=1000000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WsEnviarDocumentoPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="WsEnviarDocumentoPortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://dispafac.com:443/DFFacturaElectronicaEnviarDocumentos/enviarDocumento" binding="basicHttpBinding" bindingConfiguration="WsEnviarDocumentoPortBinding" contract="Dispapeles.WsEnviarDocumento" name="WsEnviarDocumentoPort" />
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
<!--ProjectGuid: CA2FFFD3-18F4-48DF-B542-0F8E0D17BAA1-->