USE [WSMagento]
GO
/****** Object:  UserDefinedFunction [dbo].[fnObtenerCantidadComprometidaFR]    Script Date: 3/10/2025 10:52:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Oscar Ramirez
-- Create date: 16 de Diciembre de 2016
-- Description:	Obtiene la mercancía comprometida en una factura de reserva marcada por compras
-- =============================================
CREATE FUNCTION [dbo].[fnObtenerCantidadComprometidaFR]
(
	@ItemCode NVARCHAR(20)
)
RETURNS NUMERIC
AS
BEGIN
	DECLARE @Cantidad NUMERIC;
	SET @Cantidad = (SELECT SUM(FLOOR(T1.Quantity)) FROM SBO_Allers..OINV T0
					INNER JOIN SBO_Allers..INV1 T1 ON T1.DocEntry = T0.DocEntry
					WHERE U_FacturaReserva = 'S'
					AND U_PendientePor = '02'
					AND T0.DocStatus != 'C');
	RETURN @Cantidad;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fnObtenerDetalleCotizacion]    Script Date: 3/10/2025 10:52:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Oscar Ramirez
-- Create date: 23 de Mayo de 2017
-- Description:	Obtiene el detalle de una cotización en un string
-- =============================================
CREATE FUNCTION [dbo].[fnObtenerDetalleCotizacion]
(
	@DocEntry INT
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
	DECLARE @String NVARCHAR(MAX);
	DECLARE @ItemCode NVARCHAR(20);
	DECLARE @ItemName NVARCHAR(255);
	DECLARE @Cantidad NUMERIC;
	DECLARE @ValorUnitario NUMERIC;
	DECLARE @IVA NUMERIC;
	DECLARE @ValorIVA NUMERIC;
	DECLARE @ValorTotal NUMERIC;
	--Se declara el cursor y se llena con los datos requeridos
	DECLARE Item_Cursor CURSOR
	FOR 
	SELECT T1.ItemCode,
		T1.Dscription,
		FLOOR(T1.Quantity)[Cantidad],
		FLOOR(T1.Price)[Price],
		FLOOR(t1.VatPrcnt)[IVA],
		FLOOR(T1.VatSum)[ValorIVA],
		FLOOR(T1.LineTotal)[LineTotal]
	FROM SBO_Allers..OQUT T0
	INNER JOIN SBO_Allers..QUT1 T1 ON T1.DocEntry = T0.DocEntry
	WHERE T0.DocEntry = @DocEntry
	--Se abre y se recorre el cursor
	OPEN Item_Cursor
	FETCH Item_Cursor INTO @ItemCode,@ItemName,@Cantidad,@ValorUnitario,@IVA,@ValorIVA,@ValorTotal
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		IF (@String = '' OR @String IS NULL)
		BEGIN
			SET @String = CONCAT(@String,@ItemCode,'|',@ItemName,'|',@Cantidad,'|',@ValorUnitario,'|',@IVA,'|',@ValorIVA,'|',@ValorTotal);
		END
		ELSE
		BEGIN
			SET @String = CONCAT(@String,'@',@ItemCode,'|',@ItemName,'|',@Cantidad,'|',@ValorUnitario,'|',@IVA,'|',@ValorIVA,'|',@ValorTotal);
		END
		FETCH Item_Cursor INTO @ItemCode,@ItemName,@Cantidad,@ValorUnitario,@IVA,@ValorIVA,@ValorTotal
	END
	CLOSE Item_Cursor
	DEALLOCATE Item_Cursor

	RETURN @String;
END
GO
